@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

body {
    background-image: url("./imgs/backgroundImg.png");
    font-family: Arial, sans-serif;
    
}

.navbar {
    background-color: #57B894;
}

.card {
    width: auto;
    max-width: 350px;
    max-height: 420px;
    margin: 20px auto;
    border: 1px solid #ddd;
    border-radius: 9px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: auto;
    display: flex; 
    flex-direction: column; 
}

.card-header {
    background-color: #4EA685;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    width: 100%;
    box-sizing: border-box;
}

.card-table {
    width: 100%;
    border-collapse: collapse;
}

.card-table th, .card-table td {
    
    border: 1px solid #dddddd;
    text-align: center;
    padding: 10px;
}

.card-table th {
    background-color: #f2f2f2;
}

.card-buttons {
    display: flex; 
    justify-content: space-around; 
}

.btn {
    cursor: pointer;
    padding: 5px 10px;
    margin: 5px;
    font-size: 16px;
    box-sizing: border-box;
    font-size: large;
}

.highlight {
    background-color: #4EA685;
    color: white;
    font-weight: bold;
}

  .container {
    margin-top: 20px;
    object-fit: cover;
  }

  .day-card {
   
    padding: 10px;
    margin-bottom: 20px;
    width: 630px;
    margin: 20px auto;
    border: 1px solid #ddd;
    border-radius: 9px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 130px;
    display: flex; 
   
  }
  .meal {
    margin-bottom: 10px;
    margin-right: 40px;
    margin-left:40px;
   color: #4EA685;
   font-size: larger;
}
