@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

body {
    background-image: url("./imgs/backgroundImg.png");
    font-family: 'Poppins', sans-serif;
}

#mainPage {
    height: 80vh;
    justify-content: center;
}

.navbar {
    background-color: #57B894;
}

#preferences {
    padding-right: 0.5%;
    float: right;
}

.card-img-top {
    object-fit: cover;
}

.navbar-nav a {
    padding-right: 5%;
}

.card {
    background-color: #efefef;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    border-color: #57B894;
    border-width: 3px;
    border-radius: 20px;
}

#leftContent {
    float: left;
    width: 50%;
    height: 60vh;
    justify-content: center;
}

#rightContent {
    float: right;
    width: 50%;
    max-height: 80vh;
    justify-content: center;
}

@media only screen and (max-width: 995px) {

    #leftContent {
        float: none;
        width: 100%;
        height: auto;
        position: relative;
        display: block;
    }

    #rightContent {
        float: none;
        width: 100%;
        height: auto;
        position: relative;
    }
}